{% load home_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{# Implementation of bootstrap theme dropdown menu - shows top level links and their children #}
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    {# Link to home page #}
    <a class="navbar-brand" href="{% pageurl site_root %}" title="{{ site_root.title }}">Progettificio</a>
    <ul class="nav navbar-nav">
    {% for menuitem in menuitems %}
        <li class="nav-item{% if menuitem.show_dropdown %} dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
            {% if menuitem.show_dropdown %}
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ menuitem.title }}</a>
                {% top_menu_children parent=menuitem %}
            {% else %}
                <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.title }}{% if menuitem.active %}<span class="sr-only">(current)</span>{% endif %}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <form class="form-inline navbar-form pull-xs-right" role="search" action="{% url 'search' %}" method="get">
        <input type="text" class="form-control" name="query" placeholder="Search…" value="{{ search_query }}">
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
</nav>
